<p id="notice"><%= notice %></p>

<p>
  <strong>コード</strong>
  <%= @staff.staffcode %>
</p>

<p>
  <strong>名前</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>説明</strong>
  <%= @staff.desc %>
</p>

<%= link_to '編集', edit_staff_path(@staff) %> |
<%= link_to '戻る', staffs_path %>
