<p id="notice"><%= notice %></p>

<p>
  <strong>ñºëO</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>ê‡ñæ</strong>
  <%= @staff.desc %>
</p>

<%= link_to 'ï“èW', edit_staff_path(@staff) %> |
<%= link_to 'ñﬂÇÈ', staffs_path %>
