<p id="notice"><%= notice %></p>

<p>
  <strong>開催日</strong>
  <%= @classwork.sessiondate %>
</p>

<p>
  <strong>Term:</strong>
  <%= @classwork.term.name %>
</p>

<%= link_to '編集', edit_classwork_path(@classwork) %> |
<%= link_to '戻る', classworks_path %>
