<h1>アジャイル改善カルテ メインメニュー</h1>
<br>
<h3>最新情報</h3>
<p><%= link_to '塾生の記録一覧', studentlogs_path %></p>
<p><%= link_to '開催日の記録一覧', sessionlogs_path %></p>

<h3>記録をつける</h3>
<p><%= link_to '塾生一覧から記録', students_path(:index => "on")  %></p>
<p><%= link_to '開催日一覧から記録', classworks_path(:index => "on")  %></p>
<p><%= link_to '開催日を追加する', new_classwork_path %></p>

<h3>マスター管理</h3>
<p><%= link_to '塾生一覧', students_path %></p>
<p><%= link_to 'スタッフ一覧', staffs_path %></p>
<p><%= link_to '期一覧', terms_path %></p>
<p><%= link_to '開催日一覧', classworks_path %></p>