<h1>塾生一覧</h1>

<table>
  <thead>
    <tr>
      <th width="120" >名前</th>
      <th width="240" >説明</th>
      <th width="80"  >期</th>
      <% if params[:index] %>
        <th width="160" ></th>
        <th width="160" ></th>
      <% else %>
        <th width="40"  ></th>
        <th width="40"  ></th>
        <th width="80"  ></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.desc %></td>
        <td><%= student.term.name %></td>
        <% if params[:index] %>
          <td><%= link_to 'この塾生の記録をみる',   studentlogs_path( :student_id => student.id ) %></td>
          <td><%= link_to 'この塾生の記録をつける', new_studentlog_path( :student_id => student.id ) %></td>
        <% else %>
          <td><%= link_to '詳細    ', student %></td>
          <td><%= link_to '編集    ', edit_student_path(student) %></td>
          <td><%= link_to '削除する', student, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<hr />
<%= form_tag 'students/upload', :method => :put, :multipart => true do %>
  塾生一括登録:（*.csv）名前　説明　期(id) 
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>
<hr />
<br />
<%= link_to '新規登録', new_student_path %>
<%= link_to 'メインメニュー', root_path %>

