<h1>期 一覧</h1>

<table>
  <thead>
    <tr>
      <th width="20">id</th>
      <th width="120">名前</th>
      <th width="40"></th>
      <th width="40"></th>
      <th width="40"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.id   %></td>
        <td><%= term.name %></td>
        <td><%= link_to '詳細', term %></td>
        <td><%= link_to '編集', edit_term_path(term) %></td>
        <td><%= link_to '削除', term, method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_term_path %>
<%= link_to 'メインメニュー', root_path %>

