<h1>塾生記録一覧</h1>

<table>
  <thead>
    <tr>
      <th width="100"  >開催日</th>
      <th width="80"  >塾生</th>
      <th width="80"  >記録者</th>
      <th width="480" >記録</th>
      <th width="40"  ></th>
      <th width="40"  ></th>
      <th width="40"  ></th>
    </tr>
  </thead>

  <tbody>
    <% @studentlogs.each do |studentlog| %>
      <tr>
        <td><% unless studentlog.classwork.nil? %> 
          <%= studentlog.classwork.sessiondate %>
        <% end %></td>
        <td><%= studentlog.student.name %></td>
        <td><%= studentlog.staff.name %></td>
        <td><%= studentlog.leadingContents %></td>
        <td><%= link_to '詳細', studentlog %></td>
        <td><%= link_to '編集', edit_studentlog_path(studentlog) %></td>
        <td><%= link_to '削除', studentlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @studentlogs, :previous_label=>'≪前', :next_label=>'次≫', renderer: BootstrapPagination::Rails %>
<br>
<%= link_to '新規登録', new_studentlog_path %>
<%= link_to 'メインメニュー', root_path %>

