<p id="notice"><%= notice %></p>

<p>
  <table>
  <td width="160">
  <strong>塾生</strong>
  <%= @studentlog.student.name %>
  </td>
  <td width="160">
  <strong>開催日</strong>
  <% unless @studentlog.classwork.nil? %>
    <%= @studentlog.classwork.sessiondate %>
  <% end %>
  </td>
  <td width="160">
  <strong>記入者</strong>
  <%= @studentlog.staff.name %>
  </td>
  </table>
</p>
<hr/>
<p>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@studentlog.contents).html_safe %>
</p>
<hr/>
<p>
</p>

<%= link_to '編集', edit_studentlog_path(@studentlog) %> |
<%= link_to '戻る', studentlogs_path %>
