<p id="notice"><%= notice %></p>

<p>
  <strong>塾生</strong>
  <%= @studentlog.student.name %>
</p>
<br/>
<p>
  <strong>記録</strong>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@studentlog.contents).html_safe %>
</p>

<%= link_to '編集', edit_studentlog_path(@studentlog) %> |
<%= link_to '戻る', studentlogs_path %>
