<%= form_for(@sessionlog) do |f| %>
  <% if @sessionlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sessionlog.errors.count, "error") %> prohibited this sessionLog from being saved:</h2>

      <ul>
      <% @sessionlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sessiondate %><br>
    <% if params[:classwork_id].blank? %>
      <%= f.collection_select( :classwork_id, Classwork.all, :id, :sessiondate, :include_blank => true ) %>
    <% else %>
      <%= f.collection_select( :classwork_id, Classwork.all, :id, :sessiondate, :include_blank => false, :selected => params[:classwork_id] ) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, :size => "80x16" %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= @sessionlog.staff.name %>
  </div>
  
<% end %>
