<h1>活動記録一覧</h1>

<table>
  <thead>
    <tr>
      <th width="100" >開催日</th>
      <th width="480" >記録</th>
      <th width="40"  ></th>
      <th width="40"  ></th>
      <th width="40"  ></th>
    </tr>
  </thead>

  <tbody>
    <% @sessionlogs.each do |sessionlog| %>
      <tr>
        <td><%= sessionlog.classwork.sessiondate %></td>
        <td><%= sessionlog.leadingContents %></td>
        <td><%= link_to '詳細', sessionlog %></td>
        <td><%= link_to '編集', edit_sessionlog_path(sessionlog) %></td>
        <td><%= link_to '削除', sessionlog, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_sessionlog_path %>
<%= link_to 'メインメニュー', root_path %>

