<h1>Listing sessionlogs</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessionlogs.each do |sessionlog| %>
      <tr>
        <td><%= sessionlog.session_id %></td>
        <td><%= link_to 'Show', sessionlog %></td>
        <td><%= link_to 'Edit', edit_sessionlog_path(sessionlog) %></td>
        <td><%= link_to 'Destroy', sessionlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_sessionlog_path %>
<%= link_to 'メインメニュー', root_path %>

