<p id="notice"><%= notice %></p>

<p>
  <strong>開催日</strong>
  <%= @sessionlog.classwork.sessiondate %><br/>
  <strong>記入者</strong>
  <%= @sessionlog.staff.name %>
</p>
<hr/>
<p>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@sessionlog.contents).html_safe %>
</p>
<br/>
<hr/>
<%= link_to '編集', edit_sessionlog_path(@sessionlog) %> |
<%= link_to '戻る', sessionlogs_path %>
