<!DOCTYPE html>
<html>
<head>
  <title>AgileKaizenKarte</title>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css" />
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css" />  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">アジャイル改善塾</a>
      </div>
      <div class="collapse navbar-collapse">
        <% if staff_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
          <% unless request.path_info=="/" %>
            <li><%= link_to 'メインメニュー', root_path %></li>
          <% end %>
            <li><%= link_to "ログアウト", destroy_staff_session_path, :method => :delete %></li>
            <li><a href="/staffs/edit"><b>ログイン :<%= current_staff.name %></b></a></li>
          </ul>
          <% end %>
      </div>
    </div>
  </nav>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<div class="container">
 <%= yield %>
</div>

<footer>
  <div class="container">
    <hr/>
    OGIS Research Institute アジャイル改善塾 since 2013
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</body>
</html>
